@{ 
    ViewBag.Title = "Home Page";
}

<h2>The World</h2>
<p>This will be a fun website soon!</p>

<div class="row">
    <div class="col-md-6">
        <form>
            <div class="form-group">
                <label>Date</label>
                <input class="form-control" />
            </div>
            <div class="form-group">
                <label>Location</label>
                <input class="form-control" />
            </div>
            <div>
                <input class="btn btn-success"type="submit" value="Add" />
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <h2>The Map</h2>
    </div>
</div>